<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% @items.each do |item| %>
        <div class="card">
          <%= image_tag item.picture %>
          <h4><%= item.item_name %></h4>
          <h3><%= item.price %></h3>
          <p><%= item.description %></p>
        </div>
        <div class="btn btn-primary">
          <%= link_to "en savoir plus", item_path(item) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
